{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="{% url 'feedstream:index'%}"><img class="logo py-auto my-auto" height="30px" src="{% static 'feedstream/images/logo-nav.png' %}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      {% if user.id is not None %}
        <li class = "greeting"><p>Hello<strong>{{user.catruser.first_name}}</strong></p></li>
        <li class = "nav-item image">
          <a href="javascript:profile_drop()"  class = "dropbtn">
            <img src="{{ user.catruser.profile_image.url }}" alt="">
          </a>
          <div class="dropdown-content" id="myDropdown">
            <ul>
              {% if user.catruser.user_type == 0 %}
              <li class="nav-item">
                <a href="{% url 'mypage:profile_caterer' user.catruser.id %}">Caterer</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a href="{% url 'mypage:profile_consumer' user.catruser.id %}">Profile</a>
              </li>
              {% endif %}
              <li class="nav-item">
        				<a href="{% url 'registration:logout' %}">Logout</a>
              </li>
            </ul>
          </div>
        </li>
      {% endif %}
      {% if user.id is None %}
        <li class="nav-item">
  				<a data-toggle="modal" data-target="#signup-consumer" href="consignup">Signup as Consumer</a>
        </li>
        <li class="nav-item">
  				<a data-toggle="modal" data-target="#signup-caterer" href="#catsignup">Signup as Caterer</a>
        </li>
        <li class="nav-item">
  				<a data-toggle="modal" data-target="#login-modal" href="#login">Login</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'registration/login.html'%}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signup-caterer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'registration/catsignup.html'%}
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="signup-consumer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'registration/consignup.html' %}
      </div>
    </div>
  </div>
</div>
