{% extends 'feedstream/base.html' %}
{% load static %}
{% block content %}
    <section class="consumer-profile-section background">
        <div class="container">
            <div class="mypage-card m-sm-5 p-sm-5">
                <form action="{% url 'mypage:editprofile_consumer' consumer.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="center-elements mx-sm-5 px-sm-5">
                        <div class="image-cropper profile-size m-auto ">
                            <img class="profile-pic" src="{{ consumer.profile_image.url }}">
                        </div>
                        <div class="formrow row">
                            <div class="col-sm-2 ml-sm-5 text-center">
                                <h5>First Name</h5>
                            </div>
                            <div class="col-sm-8  ml-sm-0 mr-sm-5 pl-sm-0">
                                <input type="text" class="form-control" placeholder="Enter first name" name="fName" value="{{ consumer.first_name }}">
                            </div>
                        </div>
                        <div class="formrow row">
                            <div class="col-sm-2 ml-sm-5 text-center">
                                <h5>Last Name</h5>
                            </div>
                            <div class="col-sm-8  ml-sm-0 mr-sm-5 pl-sm-0">
                                <input type="text" class="form-control" placeholder="Enter last name" name="lName" value="{{ consumer.last_name }}">
                            </div>
                        </div>
                        <div class="formrow row">
                            <div class="col-sm-2 ml-sm-5 text-center">
                                <h5>Email</h5>
                            </div>
                            <div class="col-sm-8  ml-sm-0 mr-sm-5 pl-sm-0">
                                <input type="text" class="form-control" placeholder="Enter email" name='email' value="{{ consumer.email}}">
                            </div>
                        </div>
                        <div class="formrow row">                            
                            <div class="col-sm-2 ml-sm-5 text-center">
                                <h5>Profile Picture</h5>
                            </div>
                            <div class="col-sm-8  ml-sm-0 mr-sm-5 pl-sm-0">
                                <input type="file" name='profile_image' multiple>
                            </div>
                        </div>
                    </div>
                    <div class="editpage">
                        <div class="m-auto p-auto">
                            <div class="formrow row">
                                <div class="ml-sm-5">
                                    <h3>Security</h3>
                                </div>
                            </div>
                            <div class="formrow row">
                                <div class="col-sm-2 ml-sm-5 text-center">
                                    <h5>Password</h5>
                                </div>
                                <div class="col-sm-8  ml-sm-0 mr-sm-5 pl-sm-0">
                                    <input type="password" class="form-control" placeholder="***********" name="password1">
                                </div>
                                <div class="col-sm-2 ml-sm-5 text-center">
                                    <h5>Re-enter password</h5>
                                </div>
                                <div class="col-sm-8  ml-sm-0 mr-sm-5 pl-sm-0">
                                    <input type="password" class="form-control" placeholder="***********" name="password2">
                                </div>
                            </div>
                            <input type="submit" class="btn btn-primary">
                        </div>
                    <div>
                </form> 
            </div>
        </div>
    </section>
{% endblock %}
